.ant-card-body {
    padding-left: 20px !important;
    padding-top: 0 !important;
}

.ant-statistic-title {
    color: white !important;
    width: 21px !important;
    height: 19px !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    margin: 0% !important;
}

.ant-statistic-content-value {
    color: white !important;
    width: 22px !important;
    height: 15px !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 100% !important;
    letter-spacing: 0% !important;
    margin: 0% !important;
}