.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: 1px solid #e5e7eb;
  padding: 0 20px;
  height: 56px;
  font-size: 16px;
  flex-wrap: wrap;
}

/* LEFT */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  flex-wrap: wrap;
}

/* RIGHT */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  flex-wrap: wrap;
}

.nav-item {
  cursor: pointer;
  color: #374151;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-item:hover {
  color: #2563eb;
}

.with-icon svg {
  font-size: 18px;
}

.help-dropdown svg {
  margin-left: 5px;
}

/* FLAG */
.flag-box {
  display: flex;
  align-items: center;
  gap: 6px;
}

.flag-img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 3px;
}

/* MOBILE RESPONSIVE */
@media (max-width: 768px) {
  .navbar {
    height: auto;
    padding: 10px;
  }

  .navbar-left,
  .navbar-right {
    width: 100%;
    justify-content: space-between;
  }

  .navbar-left {
    margin-bottom: 10px;
  }

  .nav-item {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .navbar-left,
  .navbar-right {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
