.footer-section {
  padding: 40px 0 10px;
  background: #f8f8f8;
}

.footer-logo {
  width: 160px;
  margin-bottom: 12px;
}

.footer-description {
  display: block;
  max-width: 250px;
  margin-top: 12px;
  line-height: 22px;
}

.social-icon-antd {
  font-size: 22px;
  color: #555;
  transition: 0.2s;
}

.social-icon-antd:hover {
  color: #1890ff;
}

.footer-link {
  color: #555;
  display: block;
  padding: 2px 0;
  transition: 0.2s;
}

.footer-link:hover {
  color: #1890ff;
}

.footer-bottom {
  margin-top: 20px;
  padding: 0 20px;
}
