.ant-card-body {
  /* padding-left: 20px !important; */
  padding: 0 !important;
  /* margin-left: 10px; */
}

.ant-statistic-title {
  color: white !important;
  /* width: 21px !important; */
  height: 19px !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  margin: 0% !important;
}

.ant-statistic-content-value {
  color: white !important;
  /* width: 22px !important; */
  /* height: 15px !important; */
  /* font-weight: 400 !important; */
  font-size: 12px !important;
  /* line-height: 100% !important; */
  /* letter-spacing: 0% !important; */
  /* margin: 0% !important; */
}

.section-scale-card {
  width: 179px;
  height: 240px;
}

.card-image {
  margin: 10%;
  width: 140px !important;
  height: 140px;
  object-fit: contain;
}

.section-scale-card>div {
  text-align: center;
}

.ant-statistic {
  text-align: center;
}

.ant-card-head {
  border-bottom: none !important;
}




.section1-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.section1-card {
  padding: 10px;
  width: 100%;
  /* max-width: 1180px; */
  /* border-radius: 10px !important; */
  border: 1px solid #d9d9d9 !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
}

/* LEFT MENU */
.category-main {
  height: 45px;
  background: #e5f1ff;
  font-weight: 600;
  border-radius: 5px;
  text-align: center;
  padding-top: 10px;
}

.category-item {
  height: 42px;
  padding: 10px;
  border-bottom: none !important;
  cursor: pointer;
  font-size: 15px;
  color: #444;
}

.hoverable:hover {
  background-color: #f5f7fa;
  transition: 0.2s;
}

/* BANNER */
.banner-img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 8px;
}

/* USER CARD */
.user-card {
  background-color: #eaf4ff !important;
  border-radius: 8px !important;
  margin-bottom: 12px;
  padding: 12px;
}

.user-avatar {
  width: 44px;
  height: 44px;
}

.user-greeting {
  font-size: 15px;
  margin: 0;
}

/* Buttons */
.btn-primary {
  margin-bottom: 8px;
  border-radius: 6px !important;
}

.btn-outline {
  border: 1px solid #0d6efd !important;
  color: #0d6efd !important;
  border-radius: 6px !important;
}

/* DISCOUNT CARDS */
.discount-card {
  border-radius: 8px !important;
  margin-bottom: 12px;
  padding: 20px;
  color: white;
}

.orange-bg {
  background-color: #f38332 !important;
}

.teal-bg {
  background-color: #55bdc3 !important;
}

.discount-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

/* RESPONSIVE FIXES */
@media (max-width: 768px) {
  .banner-img {
    height: 260px;
  }

  .user-card,
  .discount-card {
    margin-top: 10px;
  }

  .category-main,
  .category-item {
    text-align: left;
    padding-left: 12px;
  }
}